<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
</head>

<body>
  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a class="btn-floating btn-lg red waves-effect waves-light" data-toggle="modal" data-target="#modalContactForm">
              <i class="fa fa-plus-circle white-text"></i>
              <span class="sr-only">(current)</span>
              </a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">Diary manager</h3>
    </div>
    <diary-list></diary-list>
    <diary-add></diary-add>
  </div>
  <!-- /container -->
</body>

</html>
