<div class="container">
<!--Section: Magazine v.1-->
<section class="magazine-section my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Yesterday Activities</h2>
    <!-- Section description -->
    <p class="text-center dark-grey-text w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit id laborum.</p>

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-lg-6 col-md-12">

            <!-- Featured news -->
            <div class="single-news mb-4">

                <!-- Image -->
                <div class="view overlay rounded z-depth-1-half mb-4">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/82.jpg" alt="Sample image">
                    <a>
                        <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                    </a>
                </div>

                <!-- Data -->
                <div class="news-data d-flex justify-content-between">
                    <a href="#!" class="light-blue-text">
                        <h6 class="font-weight-bold">
                            <i class="fa fa-plane pr-2"></i>Travels</h6>
                    </a>
                    <p class="font-weight-bold dark-grey-text">
                        <i class="fa fa-clock-o pr-2"></i>20/08/2018</p>
                </div>

                <!-- Excerpt -->
                <h3 class="font-weight-bold dark-grey-text mb-3">
                    <a>Title of the news</a>
                </h3>
                <p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat
                    facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>

            </div>
            <!-- Featured news -->

            <!-- Small news -->
            <div class="single-news mb-4">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-3">

                        <!--Image-->
                        <div class="view overlay rounded z-depth-1 mb-4">
                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/photo8.jpg" alt="Sample image">
                            <a>
                                <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                            </a>
                        </div>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-9">

                        <!-- Excerpt -->
                        <p class="font-weight-bold dark-grey-text">19/08/2018</p>
                        <div class="d-flex justify-content-between">
                            <div class="col-11 text-truncate pl-0 mb-3">
                                <a href="#!" class="dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                            </div>
                            <a>
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Small news -->

            <!-- Small news -->
            <div class="single-news mb-4">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-3">

                        <!--Image-->
                        <div class="view overlay rounded z-depth-1 mb-4">
                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/54.jpg" alt="Sample image">
                            <a>
                                <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                            </a>
                        </div>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-9">

                        <!-- Excerpt -->
                        <p class="font-weight-bold dark-grey-text">18/08/2018</p>
                        <div class="d-flex justify-content-between">
                            <div class="col-11 text-truncate pl-0 mb-3">
                                <a href="#!" class="dark-grey-text">Soluta nobis est eligendi optio cumque nihil impedit quo minus</a>
                            </div>
                            <a>
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Small news -->

            <!-- Small news -->
            <div class="single-news mb-lg-0 mb-4">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-3">

                        <!--Image-->
                        <div class="view overlay rounded z-depth-1 mb-lg-0 mb-4">
                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg" alt="Sample image">
                            <a>
                                <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                            </a>
                        </div>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-9">

                        <!-- Excerpt -->
                        <p class="font-weight-bold dark-grey-text">17/08/2018</p>
                        <div class="d-flex justify-content-between">
                            <div class="col-11 text-truncate pl-0 mb-lg-0 mb-3">
                                <a href="#!" class="dark-grey-text">Voluptatem accusantium doloremque</a>
                            </div>
                            <a>
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Small news -->

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-6 col-md-12">

            <!-- Featured news -->
            <div class="single-news mb-4">

                <!-- Image -->
                <div class="view overlay rounded z-depth-1-half mb-4">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/84.jpg" alt="Sample image">
                    <a>
                        <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                    </a>
                </div>

                <!-- Data -->
                <div class="news-data d-flex justify-content-between">
                    <a href="#!" class="pink-text">
                        <h6 class="font-weight-bold">
                            <i class="fa fa-home pr-2"></i>Lifestyle</h6>
                    </a>
                    <p class="font-weight-bold dark-grey-text">
                        <i class="fa fa-clock-o pr-2"></i>24/08/2018</p>
                </div>

                <!-- Excerpt -->
                <h3 class="font-weight-bold dark-grey-text mb-3">
                    <a>Title of the news</a>
                </h3>
                <p class="dark-grey-text">Sed ut perspiciatis unde voluptatem omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>

            </div>
            <!-- Featured news -->

            <!-- Small news -->
            <div class="single-news mb-4">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-3">

                        <!--Image-->
                        <div class="view overlay rounded z-depth-1 mb-4">
                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/86.jpg" alt="Sample image">
                            <a>
                                <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                            </a>
                        </div>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-9">

                        <!-- Excerpt -->
                        <p class="font-weight-bold dark-grey-text">23/08/2018</p>
                        <div class="d-flex justify-content-between">
                            <div class="col-11 text-truncate pl-0 mb-3">
                                <a href="#!" class="dark-grey-text">Itaque earum rerum hic tenetur a sapiente delectus</a>
                            </div>
                            <a>
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Small news -->

            <!-- Small news -->
            <div class="single-news mb-4">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-3">

                        <!--Image-->
                        <div class="view overlay rounded z-depth-1 mb-4">
                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/48.jpg" alt="Sample image">
                            <a>
                                <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                            </a>
                        </div>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-9">

                        <!-- Excerpt -->
                        <p class="font-weight-bold dark-grey-text">22/08/2018</p>
                        <div class="d-flex justify-content-between">
                            <div class="col-11 text-truncate pl-0 mb-3">
                                <a href="#!" class="dark-grey-text">Soluta nobis est eligendi optio cumque nihil impedit quo minus</a>
                            </div>
                            <a>
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Small news -->

            <!-- Small news -->
            <div class="single-news">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-3">

                        <!--Image-->
                        <div class="view overlay rounded z-depth-1 mb-md-0 mb-4">
                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(56).jpg" alt="Sample image">
                            <a>
                                <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                            </a>
                        </div>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-9">

                        <!-- Excerpt -->
                        <p class="font-weight-bold dark-grey-text">21/08/2018</p>
                        <div class="d-flex justify-content-between">
                            <div class="col-11 text-truncate pl-0">
                                <a href="#!" class="dark-grey-text">Maiores alias consequatur aut perferendis</a>
                            </div>
                            <a>
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Small news -->

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

</section>
<!--/Section: Magazine v.1-->
</div>

<div class="listContainer">
  <ul class="list-group" *ngFor="let item of diaryList">
    <li class="list-group-item">{{item.Name}}</li>
   
  </ul>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4">
          <br>
            <form>
                <div class="form-group">
                    <label for="multiple">Choose file(s)</label>
                    <input type="file" class="form-control" name="multiple" ng2FileSelect [uploader]="uploader" multiple  />
                </div>            
            </form>
        </div>
        </div>
        <br>
        <div class="col-md-8">
             File(s) Selected: {{ uploader?.queue?.length }}
            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Size</th>
                    <th>Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item.file.name }}</strong></td>
                    <td nowrap>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>
                    <td>
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span *ngIf="item.isSuccess"><i class="fa fa-check"></i></span>
                        <span *ngIf="item.isCancel"><i class="fa fa-ban"></i></span>
                        <span *ngIf="item.isError"><i class="fa fa-times"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs"
                                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="fa fa-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-warning btn-xs"
                                (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="fa fa-ban"></span> Cancel
                        </button>
                        <button type="button" class="btn btn-danger btn-xs"
                                (click)="item.remove()">
                            <span class="fa fa-trash"></span> Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
  
            <div>
                <hr>
                <div>
                    Total progress:
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                    <hr>
                </div>
                <button type="button" class="btn btn-success btn-s"
                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    <span class="fa fa-upload"></span> Upload all
                </button>
                <button type="button" class="btn btn-warning btn-s"
                        (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    <span class="fa fa-ban"></span> Cancel all
                </button>
                <button type="button" class="btn btn-danger btn-s"
                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <span class="fa fa-trash"></span> Remove all
                </button>
            </div>
        </div>
  </div>
  <hr>
  
  <div class="container">
      <table class="table table-hover">
          <thead>
            <tr>
              <th>File Name</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let file of files">
              <td>{{ file.originalname }}</td>
              <td><button class="btn btn-primary button" (click)="downloadPdf(file.filename, file.contentType)">Download</button></td>
            </tr>   
          </tbody>
        </table>
    </div>
