  <!--Modal: Activity form-->
  <div mdbModal #form="mdb-modal" class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
      <!--Content-->
      <div class="modal-content">
  
        <!--Header-->
        <div class="modal-header light-blue darken-3 white-text">
          <h4 class="title">
            <i class="fa fa-pencil"></i> Write your activities</h4>
          <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide()">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <!--Body-->
        <div class="modal-body mb-0">
          <form [formGroup]="modalForm">
            <div class="md-form form-sm">
              <input mdbInputDirective type="text" id="activity-titile" formControlName="activity-titile" class="form-control" [(ngModel)]="activityTitle" >
              <label for="activity-titile">Activity Title</label>
            </div>
  
            <div class="md-form form-sm">
              
              <select class="form-control mdb-select colorful-select dropdown-primary"  id="activity-category" formControlName="activity-category">
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Travel</option>
                <option value="2">Dining</option>
                <option value="3">Life Style</option>
              </select>
              <label for="activity-category">Category</label>
            </div>

            <div class="md-form form-sm">
              <input mdbInputDirective type="file" id="activity-snap" formControlName="activity-snap" class="form-control">
              <label for="activity-snap">Choose a Snap</label>
            </div>
  
            <div class="md-form form-sm">
              <textarea mdbInputDirective type="text" id="activity-description" formControlName="activity-description" class="md-textarea mb-0"></textarea>
              <label for="activity-description">Description</label>
            </div>
  
            <div class="text-center mt-1-half">
              <button class="btn btn-info mb-2 waves-light" mdbWavesEffect (click)="addDiary()">Add
                <i class="fa fa-send ml-1"></i>
              </button>
            </div>
          </form>
  
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
  <!--Modal: Activity form-->